.logoContainer{    
    display: inline-block;
    .logoName {
        font-weight: regular;
        font-size: 25px;
        letter-spacing: -2px;
        color: rgb(86, 171, 10);
        font-family: "Ubuntu";
    }
}