

table {
    border-spacing: 0;
}

body {
    font-family: sans-serif; // font-family: "Ubuntu";
}

.boldWeight {
    font-weight: bold;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
        cursor: pointer;
    }
    &:visited {
        color: inherit;
    }
}


.d-inline-block{
  display: inline-block;
}

.green{
  color:rgb(86,171,10);
}

.gray{
  color:rgb(115,115,115);
}
.white{
  color:white;
}
.grayBg{
  background:#f4f4f4;
}

p{
  margin-bottom: 15px;
}

@media (min-width: 1369px)
{
  .container {
      max-width: 1369px;
  }
}