@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xwmfp8');
  src:  url('fonts/icomoon.eot?xwmfp8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xwmfp8') format('truetype'),
    url('fonts/icomoon.woff?xwmfp8') format('woff'),
    url('fonts/icomoon.svg?xwmfp8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quickMatchIcon:before {
  content: "\e90e";
}
.icon-logoIco:before {
  content: "\e90c";
  color: #55ab09;
}
.icon-checkmark:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e900";
}
.icon-plus2:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-keyboard_arrow_up:before {
  content: "\e906";
}
.icon-keyboard_arrow_right:before {
  content: "\e907";
}
.icon-keyboard_arrow_left:before {
  content: "\e908";
}
.icon-keyboard_arrow_down:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-search2:before {
  content: "\e90b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-search3:before {
  content: "\e986";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
