.groundDetail{
    .titleContainer{

        margin: 60px auto;
        i{
            font-size: 30px;
        }

        .title{
            display: inline-block;
            font-size: 30px;
        }
    }

    .contentContainer{
        img.mainPic{
            width: 100%;
        }

        .contentDetail{
            p.address{
                color: rgb(115,115,115);
            }

            .price{
                display: inline-block;
                color:#56ab0a;
                font-size: 40px;
            }
            .per{
                display: inline-block;
                font-size: 25px;
            }
            .timeLeft{
                color:#56ab0a;
                font-size: 25px;
                font-weight: 500;
            }
            .timeUnit{
                color:#56ab0a;
            }
            .status{
                color: rgb(115,115,115);
            }
        }
    }

    .commentsContainer{
        margin-top: 10px;
        .title{
            font-weight: 500;
            font-size: 25px;
        }

    }
}