.step2Container {
  .title{
    font-weight: 600;
  }
  .footer {
    .inviteATeam {
      p {
        display: inline-block;
        color: rgb(86, 171, 10);
        font-weight: 500;
        text-decoration: underline;
        font-size: 20px;
        &:hover {
          cursor: pointer;
        }
      }
      i {
        margin-right: 5px;
        display: inline-block;
        color: rgb(86, 171, 10);
        font-weight: 500;
        font-size: 20px;
      }
    }
    .tip{
      margin-left: 25px;
    }
  }

  .logoContainer{
    margin-top: 40px;
    .logoIcon{
      font-size: 70px;
      position: relative;
      .checkMark{
        position: absolute;
        font-size: 22px;
        color:white;
        top: 23px;
        left: 42px;
      }
    }
    
  }

  .bookedNotification{
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
  }

  .bookingInfoContainer{
    border: 1px solid #dcdcdc;
    .addressDisplay{
      display: inline-block;
      width: 100%;
    }
    .name{
      font-weight: 500;
      font-size: 25px;
    }
    .address{
      display: block;
    }
    .multiBtnContainer{
      .button{
        font-size: 17px;
        font-weight: 400;
        padding: 20px;
      }
    }
  }
}