.timeDetail{
  .dateContainer{
    display: inline-block;
    border-right: 1px solid #d1d1d1;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    p{
      margin-bottom: 0;
    }
    .day{
      margin-right: 10px;
      display: inline-block;
      font-size: 40px;
      color:rgb(86, 171, 10);
      vertical-align: middle;
    }
    .date{
      display: inline-block;
      vertical-align: middle;
      // &:first-child{
      // 	margin-bottom: 5px;
      // }
    }
  }
  .time{
    vertical-align: middle;
    display: inline-block;
    
    p{
      display: inline-block;
      margin-bottom: 0px;
    }

    .fromTime{
      color:rgb(86, 171, 10);
    }
    .toTime{
      color:rgb(86, 171, 10);
    }
  }
}