.avatarAndNameContainer{
    display: inline-flex;
    align-items: center;
    .avatar{
        display: inline-block;
        width: 50px;
        img{
            border-radius: 50%;
            width: 100%
        }
    }

    .info{
        display: inline-block;
        .name{
            font-weight: 400;
        }
        p{
            margin-bottom: 0px;
        }

        .additional{
            color: rgb(115,115,115);
        }

        .ratingContainer{
            display: inline-block;
            margin-left: 10px;
        }
    }
}