.historyItemContainer{
    display: inline-flex;
    img{
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
        display: inline-block;
    }

    .info{
        display: inline-block;
        padding-left: 7px;
        p{
            margin-bottom: 5px;;
        }
        .name{
            font-weight: 600;
            font-size: 18px;
        }

        .date{
            color: rgb(148,148,148);
        }
        .number{
            color: #56ab0a;
        }
    }
}