.logoContainer{    
    display: inline-flex;
    align-content: center;
    img{
        margin-right: 10px;
    }
    .logoName {
        font-size: 30px;
        letter-spacing: -2px;
        color: rgb(86, 171, 10);
    }
}