.button{
    background: none;
    padding: 20px;
    border: 0.5px solid gray;
    border-left: none;
    &:hover{
        cursor: pointer;
    }
}

.firstBtn{
    border-left: 0.5px solid gray;
}

.activeBtn{
    background: #56ab0a;
    color: white;
    border:none;
}