/* NAVBAR CSS */

.navBar {
  /* align vertical */
  background-color: black;
  .content {
    display: flex;
    justify-content: space-between;
    /* align horizontal */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      line-height: 1;
    }
  }
  .centerBlock {
    display: inline-block;
    margin-left: 35px;
    ul {
      display: inline-block;
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 30px;
      li {
        margin-right: 30px;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        color: #c9c9c9;
        font-family: "Ubuntu";
        text-transform: uppercase;
        &.active {
          color: white;
        }
        &:active {
          color: rgb(247, 234, 210);
        }
        &:hover {
          color: rgb(238, 238, 238);
          cursor: pointer;
        }
      }
    }
  }
  .avatarContainer {
    margin-left: auto;
    display: inline-block;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .avatar {
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      max-height: 35px;
    }
    .downArrow {
      content: "";
      display: inline-block;
      position: absolute;
      margin-right: 35px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid #959595;
      left: 45px;
      top: 15px;
    }
    .avatarDropdown {
      // display: none;
      z-index: 100;
      width: 150px;
      padding: 1em;
      text-align: right;
      background: #c9c9c9;
      color: rgb(68, 68, 68);
      position: absolute;
      border-radius: 3px;
      top: 45px;
      right: -20px;
      p {
        padding: 0.5em;
        &:hover {
          background: #adadad;
        }
      }
    }
  }
  .accountsUIWrapperContainer {
    .login-link-and-dropdown-list {

      .login-link-text {
        color: white;
        text-decoration: none!important;
      }
      #login-dropdown-list {
        left: auto;
        right: -1px;
      }
    }
  }
}