/* NAVBAR CSS */

.navBar {
    /* align vertical */
    background-color: black;
    .content {
        display: flex;
        justify-content: space-between;
        /* align horizontal */
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logoContainer{    
        display: inline-block;
        .logoName {
            font-weight: regular;
            font-size: 25px;
            letter-spacing: -2px;
            color: rgb(86, 171, 10);
            font-family: "Ubuntu";
        }
    }

    .centerBlock{ 
        display: inline-block;
        margin-left: 35px;
        input.seachInput {
            font-size: 18px;
            padding-left: 30px;
            padding-right: 28px;
            width: 220px;
            height: 33px;
            border-radius: 15px;
            background-color: #232323;
            border: none;
            &::placeholder {
                color: rgb(115, 115, 115);
                text-align: center;
            }
        }
        ul {
            display: inline-block;
            list-style-type: none;
            margin-bottom: 0;
            margin-left: 30px;
            li {
                margin-right: 30px;
                display: inline-block;
                font-size: 18px;
                font-weight: 500;
                color: #c9c9c9;
                font-family: "Ubuntu";
                text-transform: uppercase;
                &.active {
                    color: white;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .avatarContainer{
        margin-left: auto;     
        display: inline-block;
        position: relative;

        &:hover{
            cursor: pointer;
        }
        .avatar {
            display: inline-block;
            border-radius: 50%;
        }
        .downArrow {
            content:"";
            display: inline-block;
            position: absolute;
            margin-right: 35px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 8px solid #959595;
            left:45px;
            top: 15px;
        }
    }
}