.loadingContainer{
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 0;

    .text{
        text-align: center;
        font-style: italic;
        position: relative;
        i{
            font-size: 18px;
        }
    }
}